#game-home {
}

#game-home #board {
	line-height: 0;
	border: 4px solid #855E42;
	box-shadow: 5px 5px 2px 2px;
	display: inline-block;
	margin: 7px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#game-home .square {
	width: 70px;
	height: 70px;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
}

#game-home .piece {
	font-size: 64px;
	cursor: inherit;
}

#game-home .piece.active {
	color: yellow;
}

#game-home .piece-white {
	color: #eee;
}

#game-home .piece-black {
	color: #111;
}

#game-home .square-white {
	background: #e4b04a;
}

#game-home .square-black {
	background: #6B4226;
}

#game-home .controls {
	margin-top: 8px;
}
